
body {
    background: #fcfcfc none repeat scroll 0 0;
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#canvas-mask {
    border-radius: 0;
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
}
#canvas-mask .handle {
    border-radius: 0;
    height: 2160px;
    width: 3840px;
}
#canvas-mask .handle .page {
    background-color: transparent;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}
#canvas-mask .handle .page .menu {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    color: #666;
    cursor: default;
    left: 15px;
    margin: 0;
    padding: 10px 15px;
    position: absolute;
    top: 15px;
}
#canvas-mask .handle .page .body {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    bottom: 15px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 30px;
    left: 15px;
    line-height: 40px;
    margin: 0;
    padding: 10px 15px;
    position: absolute;
}
